// Main UI Colors
$default-black: #1b1b1d; // Background
$default-carbon: #252429; // Tile Color
$default-charcoal: #323137; // Trim

$default-white: #f3f4f7; // Default Text
$default-light-grey: #73757a; // Sub-Captions

// Highlights
$default-blue: #07a3ef;
$light-blue: #0cfce0;

$default-purple: #821ee5;
$default-magenta: #f12d81;
$light-magenta: #fb816c;

$default-alert: #f03631;

// Gradients
//$default-blue-gradient: linear-gradient(96deg, $default-blue) 0%, $light-blue 100%);
//$default-magenta-gradient: linear-gradient(96deg, $default-purple 0%, $default-magenta 47%, $light-magenta 100%);

// Site Background
html {
  background: $default-black;
  width: 100vw;
}

// Global Mobile Classes
@media only screen and (max-width: 768px) {
  // Add this to hide elements on mobile
  .hide-on-mobile {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .tile-container {
    width: calc(100% - 20px) !important;
    margin: 10px !important;
  }
}

@media only screen and (min-width: 769px) {
  // Add this to hide elements on mobile
  .hide-on-desktop {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

// App Wrapper
.App {
  text-align: center;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

// Feature-Tile Wrapper
.tile-container {
  width: calc(100% - 40px);
  min-height: 50px;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;

  padding: 10px;

  background: $default-carbon;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

  overflow: hidden;
}

// Text
$default-font: 'Helvetica Neue', sans-serif;

h1 {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: $default-font;
  color: $default-white;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: $default-font;
  color: $default-white;
}

h3 {
  font-size: 1rem;
  font-family: $default-font;
  color: $default-white;
}

p {
  font-size: 1rem;
  font-family: $default-font;
  color: $default-light-grey;
}

a {
  color: #f12d81;

}

.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

// Global Overrides

