

.nav-bar {
  height: 50px;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 999;

  background: rgba(37, 36, 41, 0.8);
  //-webkit-backdrop-filter: saturate(100%) blur(10px);
  //backdrop-filter: saturate(100%) blur(10px);
}

.nav-spacer {
  height: 60px;
  width: 100vw;
}

.nav-logo {
  height: 40px;
  margin: 5px;
  width: auto;
}