$default-light-grey: #73757a; // Sub-Captions
$section-padding: 0.5rem;

.section {
  padding: $section-padding;
}

.description-container {
  padding-bottom: 0.5rem;
}

.article-container {
  padding: 5px;
  border-radius: 5px;
  background-color: #323137;
  margin-bottom: 10px;
}

.level-right {
  padding-right: 2rem;
}

.title {
  color: $default-light-grey;
  font-size: 1.5rem;
}
