.red-text {
  background: -webkit-linear-gradient(135deg, #fb816c, #f12d81, #821ee5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text {
  background: -webkit-linear-gradient(135deg, #0cfce0, #07a3ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}